@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Dosis:200,300,400,500,600,700,800|Fredoka+One|Permanent+Marker|Press+Start+2P|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,300,400,500,700,900|Vibur&subset=cyrillic");
body {
  font-family: 'Permanent Marker';
  background: url("../img/main-bg.jpg") fixed no-repeat;
  background-color: #24262c;
  color: #FAFAFA;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; }

a {
  text-decoration: none; }

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: inherit;
  background-color: #24262c;
  height: 100vh;
  width: 100vh; }
  nav:before {
    background: inherit;
    filter: blur(10px);
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2); }

input[type="submit"] {
  display: flex;
  line-height: 100px;
  justify-content: center;
  font-size: 2.5em;
  color: #263238;
  font-family: 'Dosis';
  font-weight: 800;
  background-color: #fff200;
  width: 300px;
  height: 100px;
  box-shadow: 0px 4px 70px -16px #fff200;
  border-radius: 5px;
  border: 0;
  cursor: pointer; }
  input[type="submit"]:hover {
    color: #FF80AB; }

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 100px;
  opacity: 2;
  z-index: 1; }

.cursach {
  display: block;
  font-size: 8em;
  z-index: 99; }

.navi {
  color: #fff200;
  display: block;
  font-size: 10em;
  z-index: 99; }

.follow {
  display: flex;
  line-height: 100px;
  justify-content: center;
  font-size: 2.5em;
  color: #263238;
  font-family: 'Dosis';
  font-weight: 800;
  background-color: #fff200;
  width: 300px;
  height: 100px;
  box-shadow: 0px 4px 70px -16px #fff200;
  border-radius: 5px;
  border: 0;
  cursor: pointer; }
  .follow:hover {
    color: #FF80AB; }

@media (max-width: 960px) {
  nav {
    width: 75vh; }
  .cursach {
    font-size: 5em; } }
