//  Imports
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Dosis:200,300,400,500,600,700,800|Fredoka+One|Permanent+Marker|Press+Start+2P|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,300,400,500,700,900&subset=cyrillic')


//font-familys
font-family: 'Amatic SC', cursive
font-family: 'Press Start 2P', cursive
font-family: 'Permanent Marker', cursive
font-family: 'Fredoka One', cursive
font-family: 'Dosis', sans-serif
font-family: 'Roboto', sans-serif
font-family: 'Raleway', sans-serif